node_modules
package-lock.json
output
.idea
test/android/app/build
test/node_modules
test/android/gradle

test/ios/Pods
test/ios/build
test/ios/MyTestApp
test/ios/MyTestAppTests
test/ios/Pods/Podfile.lock

test/package-lock.json
test/yarn.lock

test/output
test/Gemfile.lock

test/android/.gradle
/test/android/local.properties
/test/android/app/src/main/assets/index.android.bundle
/test/android/app/build/generated
/test/android/app/build/intermediates

test/vendor
