node_modules
package-lock.json
output
.idea
test/android/app/build
test/node_modules

test/ios/Pods
test/ios/build
test/ios/MyTestApp
test/ios/MyTestAppTests

test/package-lock.json
test/yarn.lock

test/output
